@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

header>h1 {
    color: darkslategray;
    text-align: center;
}

* {
    background-color: #FFFFFF;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #C8D9E6;
}

.home,
.menu,
.about {
    padding: 1rem;
    margin: auto;
    border: none;
    background-color: #C8D9E6;
    border-radius: 25px;
    cursor: pointer;
    color: #2F4156;
}

/* button:hover {
    background-color: #567CBD;
    transition: background-color ease 0.3s;
}

button:active {
    background-color: #567CBD;
} */
button {
    background-color: #3498db;
    transition: background-color 0.3s ease;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #567CBD;
}

button.clicked {
    background-color: #567CBD;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 25%;
}

.page-content {
    text-align: center;
    width: 60%;
    border: 1px solid black;
    height: 50rem;
    margin: auto;
    padding: 50px;
}

#content {
    margin: 2rem;
}

/* Home page styles */

.hours {
    font-size: 20px;
    border: 5px inset black;
    border-bottom: 5px dashed black;
    border-right: 5px dashed black;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.icon {
    width: 30px;
}

.icon-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contact {
    font-size: 20px;
    border: 5px outset black;
    border-top: 5px dashed black;
    border-left: 5px dashed black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.home-content {
    font-size: 20px;
}

/* Menu Styles */


/* About Styles */