header>h1 {
    color: darkslategray;
    text-align: center;
}

* {
    background-color: antiquewhite;
}

.home,
.menu,
.about {
    padding: 1rem;
    margin: auto;
    border: none;
    background-color: darkslategrey;
    border-radius: 25px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: auto;
    width: 25%;
}

.page-content {
    text-align: center;
    width: 60%;
    border: 1px solid black;
    height: 50rem;
    margin: auto;
    padding: 50px;
}

#content {
    margin: 2rem;
}

/* Home page styles */

.hours {
    font-size: 20px;
    border: 5px inset black;
    border-bottom: 5px dashed black;
    border-right: 5px dashed black;
    /* margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    padding-bottom: 50px; */
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.icon {
    width: 30px;
}

.icon-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.contact {
    font-size: 20px;
    border: 5px outset black;
    border-top: 5px dashed black;
    border-left: 5px dashed black;
    padding-bottom: 50px;
    padding-top: 50px;
}

.home-content {
    font-size: 20px;
}

/* Menu Styles */


/* About Styles */
